---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

    <header class="post-header">
        <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
        <p class="post-meta">
            <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        {{ page.date | date: date_format }}
      </time> {% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
            {% endif %}</p>
    </header>

    <div class="intro" itemprop="articleBody">
        {{ page.intro | markdownify }}
    </div>
    <figure class="intro_image">
    <img
      src="https://res.cloudinary.com/dw4avjwzi/c_scale,w_320/{{ page.intro_image }}"
      srcset="https://res.cloudinary.com/dw4avjwzi/image/upload/c_scale,w_320/{{ page.intro_image }} 320w,
      https://res.cloudinary.com/dw4avjwzi/image/upload/c_scale,w_640/{{ page.intro_image }} 640w,
     https://res.cloudinary.com/dw4avjwzi/image/upload/c_scale,w_1024/{{ page.intro_image }} 1024w, https://res.cloudinary.com/dw4avjwzi/image/upload/c_scale,w_2048/{{ page.intro_image }} 2048w"
      alt="{{ page.intro_image-alt }}" />
    </figure>
<!--
https://res.cloudinary.com/dw4avjwzi/image/upload/c_crop,g_auto:none,h_1000,w_1460,y_1632/c_scale,w_1200/v1551181996/koken/IMG_1961.jpg
 -->
    <div class="ingredients">

          {{ page.ingredienten | markdownify }}

    </div>

    <div class="how_to">
      {{ page.how_to | markdownify }}
    </div>
    <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>
</article>
