---
layout: default

---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

    <header class="post-header">
        <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
        <p class="post-meta">
            <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        {{ page.date | date: date_format }}
      </time> {% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
            {% endif %}</p>
    </header>

    <div class="intro" itemprop="articleBody">
        {{ page.intro | markdownify }}
    </div>

    <figure class="intro_image">
    <img
      src="{{ site.image_pre }},c_crop,g_center,w_1435,h_351/{{ page.intro_image }}"
      srcset="{{ site.image_pre }},c_crop,g_center,w_400,h_200/{{ page.intro_image }} 320w,
       {{ site.image_pre }},c_crop,g_center,w_640,h_301/{{ page.intro_image }} 640w,
       {{ site.image_pre }},c_crop,g_center,w_1025,h_351/{{ page.intro_image }} 1024w,
       {{ site.image_pre }},c_crop,g_center,w_1435,h_351/{{ page.intro_image }} 2048w"
      alt="{{ page.intro_image-alt }}" />
    </figure>

    <div class="ingredients">

          {{ page.ingredienten | markdownify }}

    </div>

    <div class="how_to">
      {{ page.how_to | markdownify }}
    </div>
    <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>
</article>
